@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Poppins:wght@100&family=Source+Code+Pro:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #222;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 30px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 40px;
    border-radius: 30px;
    margin-right: 16px;
    font-size: 18px;
    flex: 1;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.search button img{
    width: 20px;
}
.weather img{
    width: 100px;
    margin: 30px 0 0;
}
.weather h1{
    font-size: 60px;
    font-weight: 300;
}
.weather h2{
    font-size: 25px;
    font-weight: 200;
    margin: -10px;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 40px 0;
}
.col img{
    width: 70px;
}
.humidity, .wind{
    font-size: 20px;
    font-weight: 300;

}